:root{
    --clr-background-900: rgb(17, 18, 19);
    --clr-background-700: rgb(21, 29, 37);
    --clr-background-400: rgb(30, 42, 54);
    --clr-primary: rgb(107, 121, 173);
    --clr-accent: rgb(40, 54, 88);
    --clr-text: rgb(255, 237, 222);
}

*{
    box-sizing: border-box;
}

a{
    color: var(--clr-text);
    font-style: unset;
}

body{
    padding: 0;
    margin: 0;
    
    background-color: var(--clr-background-900);
    color: var(--clr-text);
    
    font-family: sans-serif;
}

.material-symbols-outlined{
    user-select: none;
}

main{
    display: flex;
    flex-direction: column;
}

.filtering{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0deg, var(--clr-background-400), var(--clr-background-900));
}
.filtering>*{
    width: 100%;
    max-width: 800px;
}
h1{
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 }

.separator{
    max-width: unset;
    height: 1rem;
    margin-top: 5px;
    background-color: var(--clr-background-900);
}

.tag-bar, .search-bar{
    padding: 1rem;
}

/* #region Search */

.search-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search-box *{
    font-size: larger;
}
#book-name{
    color: var(--clr-text);
    background-color: unset;
    border: unset;
    width: 100%;
}
#book-name:focus{outline: none;}

#search-icon{margin-right: 12px;}

/* #endregion */

/* #region Tags */

.tag-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.tags{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: small;
    font-style: italic;
    white-space: nowrap;
    background-color: var(--clr-background-700);
    border-radius: 2em;
    border: 2px solid rgba(255, 255, 255, 0.142);
    margin: 2px;
    padding: 0 12px 0 0;

    height: min-content;
}
.tag span:last-of-type{
    margin-left: 5px;
}

#sort-icon{
    transform:rotateY(180deg);
    align-self: flex-start;
    cursor: pointer;
}

/* #endregion */

/* #region Results page */

section.results{
    display: grid;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    align-self: center;

    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.book{
    justify-self: center; 
    position: relative;
    min-width: 200px;
    max-width: 300px;
}
.book img{
    width: 100%;
    opacity: 100%;
}

.book-text{
    position: absolute;
    top: 0;

    pointer-events: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    opacity: 0%;
    padding: 40% 1rem 20%;
}
.book-title{
    font-size: xx-large;
}
.book-description{
    font-size: smaller;
}

.book-favorite{cursor: pointer;}
.book-favorite.enabled{
    font-variation-settings: 'FILL' 1;
}

.book *{
    transition: opacity .3s ease;
}

.book:hover img{opacity: 10%;}
.book:hover .book-text{opacity: 100%; pointer-events: unset;}

/* #endregion */