:root{
    --width-page-max: 1500px;
}

*{
    transition: background-color .3s ease;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

*{
    box-sizing: border-box;
}

a{
    color: var(--clr-text);
    font-style: unset;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;

    background-color: var(--clr-background-700);
    color: var(--clr-text);
    
    font-family: sans-serif;
}

.material-symbols-outlined{
    user-select: none;
}

main{
    display: flex;
    flex-direction: column;
}

h1{
    margin: 0;
    display: inline-block;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}
svg{
    height: 100px;
    fill: var(--clr-background-100);
}

/* #region Filtering */

.filtering{
    display: flex;
    position:relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0deg, transparent, var(--clr-background-900));
}
.filtering>*{
    width: 100%;
    max-width: var(--width-page-max);
}

.user{
    display: flex;
    justify-content: space-between;

    text-decoration: none;
    padding: 2rem 1rem;
}

.options-buttons{
    display: flex;
    min-width: 10%;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.options-buttons>*{
    padding: .5rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 25%;
    border-bottom: 2px solid transparent;
    transition: border .1s ease;
}
.options-buttons>*:hover{
    transition: border .4s ease;
    border-color: var(--clr-background-400);
}

.separator{
    max-width: unset;
    height: 10px;
    background-color: var(--clr-background-900);
    max-width: var(--width-page-max);
}

.tag-bar, .search-bar{
    padding: 1rem;
}

/* #region Sidebar */

#sidebar-filtering{
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    top: 100%;
    display: none;

    z-index: 1;

    background-color: var(--clr-background-400);
}

.sidebar-tabs{
    display: flex;
    justify-content: space-around;
}

.sidebar-categories{
    display: flex;
    flex-direction: column;


}

/* #endregion */


/* #endregion */

/* #region Search */

.search-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search-box *{
    font-size: larger;
}
#book-name{
    color: var(--clr-text);
    background-color: unset;
    border: unset;
    width: 100%;
}
#book-name:focus{outline: none;}

/* #endregion */

/* #region Tags */

.tag-bar{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.tags{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: small;
    font-style: italic;
    white-space: nowrap;
    background-color: var(--clr-background-400);
    border-radius: 2em;
    border: 2px solid rgba(255, 255, 255, 0.142);
    margin: 2px;
    padding: 0 12px 0 0;

    height: min-content;
}
.tag span:last-of-type{
    margin-left: 5px;
}

/* #endregion */

#search-icon, #sort-icon{margin-right: 1rem;}
#sort-icon{cursor: pointer; align-self: flex-start;}
#sort-icon:hover{
    transition: box-shadow .4s ease;
    box-shadow: 0 0 12px 1px var(--clr-background-900);
    border-radius: 50%;
}

/* #region Results page */

section.results{
    display: grid;
    width: 100%;
    max-width: var(--width-page-max);
    padding: 1rem;
    align-self: center;

    background-color: var(--clr-background-900);

    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.book{
    justify-self: center; 
    position: relative;
    max-width: 300px;
}
.book img{
    border-radius: 6px;
    width: 100%;
    opacity: 100%;
}

.book-text{
    position: absolute;
    top: 0;

    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    opacity: 0%;
    padding: 1rem;
}
.book-title{
    font-size: xx-large;
}
.book-description{
    font-size: smaller;
}

.book-favorite{cursor: pointer; align-self: flex-end;}
.book-favorite.enabled{
    font-variation-settings: 'FILL' 1;
}

.book *{
    transition: opacity .3s ease, z-index .1s ease;
}

.book:hover img{opacity: 10%;}
.book:hover .book-text{opacity: 100%; z-index: 0;}

.book-title-author{
    display: flex;
    flex-direction: column;
}
.book-author{
    margin-bottom: .5rem;
    opacity: 80%;
    font-style: italic;
    font-size: small;
}

.book-title{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color .2s ease;
}
.book-title:hover{
    text-decoration-color: var(--clr-text);
}

/* #endregion */

/* #region Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.separator-l,
.separator-m,
.separator-s{
    background-color: var(--clr-background-900);
    width: 100%;
    max-width: var(--width-page-max);
    margin-top: 3px;
}
.separator-l {height: 1em; opacity: 75%;}
.separator-m {height: .75em; opacity: 50%;}
.separator-s {height: .5em; opacity: 25%;}


/* #endregion */

@media screen and (min-width: 1500px) {
    .separator{border-radius: 1em;}

    .results{border-radius: 1em 1em 0 0;}
}
